* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    max-width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

section {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-inline: 16px;
    /* background-color: aqua; */
}

.card {
    max-width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow:  0 0 8px rgba(47, 46, 46, 0.744);
}


h3 {
    margin-bottom: 10px;
}

.content {
    position: absolute;
    bottom: 1px;
    color: white;
    padding: 10px 5px;
    background-color: rgba(66, 65, 65, 0.482);
    backdrop-filter: blur(1px);
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

input {
    width: 350px;
    padding: 8px 10px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 30px;
}

form {
    display: flex;
    justify-content: center;
}