* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    list-style: none;
}

/* LOADER */
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loading p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.loading ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* APP */
.app p {
    font-size: 30px;
    color: rgb(255, 0, 51);
}
.center {
    text-align: center;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.app {
    display: none;
    padding: 60px 0;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;

}

.head span {
    color: fuchsia;
}

input[type="color"]{
    display: none;
}
.colorPicker {
    display: inline-block;
    border: 2px dashed rgb(0, 0, 0);
    padding: 15px 35px;
    background: linear-gradient(90deg, red, orange, yellow, rgb(19, 183, 19), rgb(69, 69, 243), rgb(153, 40, 233), violet);
    color: white;
    font-weight: 600;
    text-shadow: 0 0 8px black;
    cursor: pointer;
}
button {
    display: inline-block;
    border: 1px solid transparent;
    background-color: olivedrab;
    color: white;
    font-size: 20px;
    letter-spacing: .1rem;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
button:hover {
    border-color: black;
    background-color: darkolivegreen;
}