*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 15px;
}
.center {
    text-align: center;
}
.mb-30 {
    margin-bottom: 30px;
}
img {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
label {
    display: block;
    margin-bottom: 8px;
}
form {
    /* background-color: aquamarine; */
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

input[type="number"] {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    outline: none;
    border: 1px solid grey;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}
input[type="number"]:focus {
    outline: 4px solid rgb(239, 200, 207);
}
input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: coral;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(255, 85, 0);
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* js css class */
.res {
    text-align: center;
    color: red;
    padding-top: 20px;
}
.stat {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-style: italic;
}